<!DOCTYPE html>
    <%- include('./partials/head.ejs')%>
<body>
   <%- include('./partials/nav.ejs')%>

    <div>
        <h1>All Blogs</h1>
        <h1>Home page Blog</h1>
    </div>
    <div>
        <% if(blogs.length> 0){ %>
            <% blogs.map(blog => { %>
                <h1><%= blog.title %></h1>
            <p><%= blog.snippet %></p>
            <% }) %>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>